---
layout: page
title: Search
---

<input type="text" id="search-input" placeholder="Search entries" autofocus>
<ul id="results-container"></ul>

<script src="https://cdn.rawgit.com/christian-fei/Simple-Jekyll-Search/master/dest/simple-jekyll-search.min.js"></script>
<script>
  window.addEventListener('load', function() {
    window.sjs = SimpleJekyllSearch({
      searchInput: document.getElementById('search-input'),
      resultsContainer: document.getElementById('results-container'),
      json: [
        {% for p in site.posts %}
          {% include search_element.json item=p %},
        {% endfor %}
        {% for p in site.pages %}
          {% if p.layout == 'page' %}
          {% include search_element.json item=p %},
          {% endif %}
        {% endfor %}
        {% for p in site.computer_science %}
          {% include search_element.json item=p %}
          {% unless forloop.last %},{% endunless %}
        {% endfor %}
      ],
    })
  });
</script>
