<footer>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-3">
        <ul class="contact-list">
          <li>{{ site.title | escape }}</li>
          {%- if site.author -%}
            <li>{{ site.author | escape }}</li>
          {%- endif -%}
          {%- if site.email -%}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="cell medium-3">
        {%- include social.html -%}
      </div>

      <div class="cell medium-6">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
  </div>
</footer>
