{% assign path_parts = page.path | split: '/' %}
{% assign path_parts_size = path_parts | size %}
{% assign rm = path_parts | last %}
{% assign base_url = page.url | replace: rm %}

<ul class="menu vertical">
{% for node in site.pages %}
  {% if node.url contains base_url and node.layout == 'page' %}
    {% assign node_path_parts = node.path | split: '/' %}
    {% assign node_path_parts_size = node_path_parts | size %}
    {% assign next_node_path_parts_size = node_path_parts_size | minus: 1 %}
    {% assign filename = node_path_parts | last %}
    {% if path_parts_size == node_path_parts_size and filename != 'index.md' %}
    <li><a href='{{node.url | relative_url}}'>{{node.title}}</a></li>
    {% elsif path_parts_size == next_node_path_parts_size and filename == 'index.md' %}
    <li><a href='{{node.url | relative_url}}'>{{node.title}}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>
