%vertical-rhythm { margin-bottom: 15px; }
@import 'minima/_syntax-highlighting';

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$dark-gray};
    padding-right: 5px;
    vertical-align: text-top;
}

.contact-list, .social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }

  a:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

