---
---

@import "foundation/foundation_and_overrides";
@import "from_minima";

.site-nav > label {
  display: inherit;
}

.menu .menu-title {
  font-weight: $global-weight-bold;
}

.top-bar {
  border-bottom: 1px solid $medium-gray;
  margin-bottom: 1em;

  .menu .is-active > a {
    background: transparent;
    color: $main-menu-color-hover;
  }

  a {
    color: $main-menu-color;
    &:hover {
      color: $main-menu-color-hover;
    }
  }
}

aside .menu a {
  padding-left: 0;
}

footer {
  border-top: 1px solid $medium-gray;
  padding: 3em 0px;
  margin-top: 1em;
  color: $dark-gray;
}
