---
layout: default
---

<div class="grid-x">
  <aside class="cell large-3">
    {%include side_navigation.html%}
  </aside>

  <article class="post cell large-auto">
    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="post-content">
      {{ content }}
    </div>
  </article>
</div>
